.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.login-form input {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.login-form button {
  padding: 0.5rem;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}

.register-link {
  margin-top: 10px;
  text-align: center;
}

.register-link a {
  color: blue;
  text-decoration: underline;
}